@charset "UTF-8";


*{
    padding: 0;
    margin: 0;
}
body{
    transition: .5s ease;
    background-color: 	#F2F2F2;
}
#sidebar{
    position: absolute;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: #307bf8;
    transition: .5s ease;
}
.sidebarlist{
    font-size: 25px;
    text-decoration: none;
    color: 	white;
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
    transition: .5s ease;
    padding: 20px;
}
.sidebarlist:hover{
    color: #307bf8;
    background-color: white;
    border-radius: 100px;
}
.fa-bug, .fa-chart-line{
    font-size: 30px;
    margin-right: 20px;
}
#hanbagubutton{
    width: 70px;
    height: 80px;
    position: relative;
    left: 10px;
    top:0;
    transition: .5s ease;
}
.top, .center, .bottom{
    position: absolute;
    display: inline-block;
    height: 8px;
    width: 100%;
    background-color: black;
    transition: .5s ease;
    border-radius: 100px;
}
.top{
    top: 10px;
}
.center{
    top: 30px;
}
.bottom{
    top: 50px;
}
.topopen{
    top: 30px;
    transform: rotate(45deg);
}
.centeropen{
    transform: translate3d(-300px, 0, 0);
}
.bottomopen{
    top: 30px;
    transform: rotate(-45deg);
}
.open{
    transform: translate3d(300px, 0, 0);
}

